Repository vinniny/spec2rtl: changes, and which pre-commit hooks are due for each by the changed paths.
All: verible-format, pyflakes

verible-format:
  name: Verible format/lint
  entry: scripts/precommit_verible.sh
  language: system

pyflakes:
  name: Pyflakes (scripts)
  entry: python -m pyflakes
  language: system

fixed CI
  .github/workflows/ci.yml
Due: none

resolved CI problems
  .github/workflows/ci.yml
Due: none

attempt #3 fixing CI
  .github/workflows/ci.yml
Due: none

small improvements
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/spec.sample.md
  requirements.lock
  requirements.txt
  scripts/report_dashboard.py
Due: pyflakes

Attempt #1 to fix CI
  tb/cov.svh
  tb/top_tb.sv
Due: verible-format

Attempt #2 to fix CI
  tb/top_tb.sv
Due: verible-format

Attempt #3 to fix CI
  Makefile
Due: none

Attempt #4 to fix CI
  scripts/coverage_to_json.py
Due: pyflakes

Attempt #5 to fix CI
  .github/workflows/ci.yml
Due: none

Attempt #6 to fix CI
  .github/workflows/ci.yml
Due: none

Attempt #7 to fix CI
  .github/workflows/ci.yml
Due: none

Attempt #8 to fix CI
  .github/workflows/ci.yml
Due: none

Attempt #9 to fix CI
  .github/workflows/ci.yml
Due: none

Attempt #10 to fix CI
  .github/workflows/ci.yml
Due: none

Attempt #11 to fix CI
  .github/workflows/ci.yml
  Makefile
  policies.ci.yml
  scripts/env_report.py
  scripts/report_dashboard.py
  slpp_all/surelog.log
  tools/yosys-sv
  verification/svas.sv
Due: verible-format, pyflakes

Attempt #12 to fix CI
  .github/workflows/ci.yml
  Makefile
Due: none

Attempt #13 to fix CI
  .github/workflows/ci.yml
Due: none

Attempt #14 to fix CI
  .github/workflows/ci.yml
Due: none

Attempt #15 to fix CI
  .github/workflows/ci.yml
Due: none

Attempt #16 to fix CI
  .github/workflows/ci.yml
Due: none

Attempt #17 to fix CI
  .github/workflows/ci.yml
Due: none

Attempt #18 to fix CI
  .github/workflows/ci.yml
Due: none

Attempt #19 to fix CI
  .github/workflows/ci.yml
Due: none

Attempt #20 to fix CI
  .github/workflows/ci.yml
Due: none

Attempt #21 to fix CI
  Makefile
  README.md
Due: none

Attempt #22 to fix CI
  .github/workflows/ci.yml
  README.md
Due: none

Attempt #23 to fix CI
  .github/workflows/ci.yml
Due: none

Attempt #24 to fix CI
  .github/workflows/ci.yml
Due: none

Attempt #25 to fix CI
  .github/workflows/ci.yml
Due: none

Attempt #26 to fix CI
  Makefile
  verification/svas.sv
Due: verible-format

chore: remove pre-commit and related helpers; ignore .cache/
  .cache/pre-commit/.lock
  .cache/pre-commit/README
  .cache/pre-commit/db.db
  .cache/pre-commit/pre-commit.log
  .gitignore
  .pre-commit-config.yaml
  scripts/precommit_no_reports.sh
  scripts/precommit_verible.sh
Due: none

removed container
  .devcontainer/devcontainer.json
  scripts/coverage_to_json.py
Due: pyflakes

Attempt #1 to fix CI
  .vscode/settings.json
  scripts/coverage_to_json.py
Due: pyflakes

Path conditions:
  verible-format: any of: \.(sv|svh)$
  pyflakes: any of: ^scripts/ and \.py$
